// create settings.json from this file. Choices:

For Bluemix:

{
    "settings": {
        "api_base_url": "https://openwhisk.ng.bluemix.net/api/v1/web/",
        "couchdb_url": "https://xxx-bluemix:yyy@zzz-bluemix.cloudant.com",
        "slack_verification_token": "xxxxxxxxxxxxxxxxxxxxxxxx"
    }
}

For a local copy of OpenWhisk in the Vagrant VM:

{
    "settings": {
        "api_base_url": "https://192.168.33.13/api/v1/web",
        "couchdb_url": "http://whisk_admin:some_passw0rd@172.17.0.1:5984",
        "slack_verification_token": "xxxxxxxxxxxxxxxxxxxxxxxx"
    }
}
